body {
    font-family: 'Arial', sans-serif, "Segoe UI Emoji";
    margin: 0;
    padding: 0;
    background-color: #e3f2fd;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

h1 {
    color: #0277bd;
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #455a64;
    font-size: 18px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #039be5;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0277bd;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.weather-card, .forecast-card {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card #weatherIcon {
    font-size: 60px;
    margin-bottom: 15px;
    color: #039be5;
}

.weather-card #temperature {
    font-size: 36px;
    margin-bottom: 15px;
    color: #f57c00;
}

.weather-card #weatherDescription {
    font-size: 20px;
    color: #455a64;
}

.forecast-day {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.forecast-day-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.current-temp {
    font-size: 40px;
    font-weight: bold;
    color: #ef6c00;
}
